

{{> head }}
<body>
    
   <div class="row">
       <div class="col-8">
           <h1>Este es el about</h1>
       </div>
       <div class="col-4">
           <img src="assets/img/about.png" class="img-thumbnail">


       </div>
   </div>



</body>
{{> footer}}



</html>